<h2>editar livro</h2>

<form action="/edit/save" method="POST">
<input type="hidden" value="{{book.id}}" name="id">
    <div>
        <label for="title">Titulo:</label>
        <input type="text" name="Title" placeholder="Digite o Titulo" id="Title" value="{{book.title}}"
    </div>
    
    <div>
        <label for="pageqty">Número de Páginas:</label>
        <input type="text" name="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty" value="{{pageqty.title}}">
    </div>

    <button type="submit">enviar</button>
</form>