<h2>Cadastrar livro</h2>

<form action="/register/save" method="POST">
    <div>
        <label for="title">Titulo:</label>
        <input type="text" name="Title" placeholder="Digite o Titulo" id="Title">
    </div>
    
    <div>
        <label for="pageqty">Número de Páginas</label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty">
    </div>

    <button type="submit">Cadastrar</button>
</form>